@model  ClientModel

<div id="fh5co-client-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>@Model.TerminalTitle</h2>
                @Html.Raw(Model.TerminalIntroduction)
            </div>
        </div>
        <div class="row">
            @if (Model.Testimonies != null && Model.Testimonies.Any())
            {
                foreach (var item in Model.Testimonies)
                {
                    @RenderRestimony(item)
                }
            }
        </div>
    </div>
</div>

@helper RenderRestimony(TestimonyModel item)
{
    <div class="col-md-6 text-center">
        <div class="testimony">
            <span class="quote"><i class="icon-quote-right"></i></span>
            <blockquote>
                <p>@item.Introduction</p>
                <span>@item.Author @Html.Raw(item.IconLink)</span>
            </blockquote>
        </div>
    </div>
}