@using PRSiteUmbraco.Entities
@inherits UmbracoViewPage<IEnumerator<FeaturedItem>>
@{
    const string extraClass = "featured-grid-2";
}

@if (Model != null)
{
    <div id="fh5co-featured-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @if (Model.MoveNext())
                    {
                        @RenderFeaturedItems(Model.Current, null)
                        ;
                    }
                </div>

                <div class="col-md-6">
                    @if (Model.MoveNext())
                    {
                        @RenderFeaturedItems(Model.Current, extraClass)
                        ;
                    }
                    <div class="row">
                        <div class="col-md-6">
                            @if (Model.MoveNext())
                            {
                                @RenderFeaturedItems(Model.Current, extraClass)
                                ;
                            }
                        </div>

                        <div class="col-md-6">
                            @if (Model.MoveNext())
                            {
                                @RenderFeaturedItems(Model.Current, extraClass)
                                ;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@helper RenderFeaturedItems(FeaturedItem item, string extraClass = null)
{
    <a href="@item.LinkUrl" class="featured-grid @extraClass" style="background-image: url(@item.ImageUrl);">
        <div class="desc">
            <h3>@item.Name</h3>
            <span>@item.Category</span>
        </div>
    </a>
}