
@inherits  UmbracoViewPage<BaseModel>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head prefix="og: http://www.facebook.com">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.MetaData.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Model.MetaData.Description" />
    <meta name="keywords" content="@Model.MetaData.Keywords" />
    <meta name="author" content="@Model.MetaData.Author" />
    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FreeHTML5.co

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="@Model.MetaData.FacebookTitle" />
    <meta property="og:image" content="@Model.MetaData.FacebookImage" />
    <meta property="og:url" content="@Model.MetaData.FacebookUrl" />
    <meta property="og:site_name" content="@Model.MetaData.FacebookSiteName" />
    <meta property="og:description" content="@Model.MetaData.FacebookDescription" />
    <meta name="twitter:title" content="@Model.MetaData.TwitterTitle" />
    <meta name="twitter:image" content="@Model.MetaData.TwitterImage" />
    <meta name="twitter:url" content="@Model.MetaData.TwitterUrl" />
    <meta name="twitter:card" content="@Model.MetaData.TwitterCard" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/scripts/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Head", false)
</head>
<body>

    <div id="fh5co-page">
        @*Render header*@
        @{ Html.RenderPartial("~/Views/Partials/SiteLayout/_Header.cshtml", Model.NavigationLinkItem);}

        @RenderBody()

        @*Footer*@
        @{ Html.RenderPartial("~/Views/Partials/SiteLayout/_Footer.cshtml");}
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="/js/google_map.js"></script>

    <!-- MAIN JS -->
    <script src="/js/main.js"></script>
    @RenderSection("ScriptsBottom", false)
</body>
</html>
