
@model PRSiteUmbraco.ViewModels.SearchViewModel

@{
    var ajaxOption = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "search-results"
    };
}
@using (Ajax.BeginForm(ajaxOption))
{
    @Html.HiddenFor(m => m.DocTypeAliases)
    @Html.HiddenFor(m => m.FieldPropertyAliases)
    @Html.HiddenFor(m => m.PageSize)
    @Html.HiddenFor(m => m.PagingGroupSize)

    @Html.TextBoxFor(m => m.SearchTerm, new { placeholder = "Search..." })
    <button id="submit-button">Search</button>

    <div id="search-results">
        @{ Html.RenderPartial("~/Views/Partials/Search/_SearchResults.cshtml", Model.SearchResults);}
    </div>
            }
